<section class="d-flex aling-item-center justify-content-center">
  <form [formGroup]="formLogin" >
    <div class="row mt-4 text-center">
      <div class="col-12">
        <img src="{{logo}}" width="200px" height="200px" alt="" class="logo">
      </div>
      <div class="col-12 mt-2">

        <input type="text" pInputText formControlName="username" name="username" autocomplete="false">

      </div>
      <div class="col-12 mt-2">

        <p-password formControlName="password"  [feedback]="false" name="password"  ></p-password>

      </div>
      <div class="col-12 mt-2">
        <button pButton type="button" label="Iniciar sesion" (click)="login()" ></button>
      </div>
    </div>
  </form>
</section>
